includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
    level: 10
    phpVersion: 80100
    paths:
        - src
        - tests
    tmpDir: build/phpstan
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: true
    checkMissingCallableSignature: true
    checkTooWideReturnTypesInProtectedAndPublicMethods: true
    checkUninitializedProperties: true
    checkBenevolentUnionTypes: true
    rememberPossiblyImpureFunctionValues: false
